img {
  width: 200px;
}

#playersSection {
  margin-left: 10%;
  margin-right: 10%;
}

.flex {
  display: flex;
}

.playerSection {
  flex-direction: column;
  align-items: center;
}

.detailButtonSection {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 20px;
}
